#hungerBar {
    width: 30vw;
    height: 5vh;

    min-width: 300px;
    min-height: 30px;
    
    left: 50%;
    bottom: 20%;
    transform: translate(-50%);
    background: rgba(100, 100, 100, 0.5);
}

.bg-roundYellow {
    border-radius: 10px;
    background: rgb(221, 186, 30);
}

.bg-roundDarkYellow {
    border-radius: 10px;
    background: rgb(139, 123, 30);
}