#leaderboardContainer {
    position: fixed;
    right: 0;
    top: 0;
}


.items {
    pointer-events: none;
    display: inline-block;
    max-width: 300px;
    text-align: center;
    height: auto;
    
    font-size: 100%;

    margin: 0 auto;
}