#leaderboardContainer {
    position: fixed;
    right: 0;
    top: 0;
    
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

#name {
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 70%;
    padding: 0.75vh 0;
}

.items {
    pointer-events: none;
    display: inline-block;
    max-width: 300px;
    text-align: center;
    height: auto;
    
    font-size: 100%;

    margin: 0 auto;
}