#controlUIWrapper {
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 10vw;

    min-width: 100px;
    max-width: 150px;
}

#controlUIContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 0 20px 20px 0;
    height: 100%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;

    background: rgb(163, 128, 12);
}

#inventoryContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    /*border-radius: 0 20px 20px 0;*/
    height: 100%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#craftingContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    /*border-radius: 0 20px 20px 0;*/
    height: 100%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.controlUIItem {
    width: 100%;

    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 10px;

    margin-bottom: 3%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.controlUIItemName {
    margin-top: 1%;
    font-size: calc(11px + 0.25vw);
}

.controlUIImage {
    pointer-events: none;

    object-fit: contain;

    margin: 5%;

    width: 75%;
    height: auto;
}

.btn-customItem {
    width: 3vw;
    height: 3vw;
    color: rgb(117, 117, 117);
    background-color: rgb(206, 181, 102);
    border: none;
    border-radius: 15%;
    min-width: initial;
    min-height: initial;
    filter: opacity(50%) blur(0.6px);
}

.btn-customItem.active {
    color: rgb(0, 0, 0);
    background-color: rgb(197, 178, 113);
    border-radius: 15%;
    filter: none;
    transform: scale(1.1);
}

.btn:focus {
    outline: none;
    box-shadow: none;
}