#controlUIWrapper {
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 10vw;

    min-width: 100px;
    max-width: 150px;
}

#controlUIContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 0 20px 20px 0;
    height: 100%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;

    background: rgb(163, 128, 12);

    
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

#inventoryContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    /*border-radius: 0 20px 20px 0;*/
    height: 100%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#craftingContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    /*border-radius: 0 20px 20px 0;*/
    height: 100%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.controlUIItem {
    width: 100%;
    height: 100%;

    min-width: 0;
    min-height: 0;

    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 10px;

    padding: 0.2vh 0.6vw;
    
    border: 1%;

    margin-bottom: 3%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.controlUIItemName {
    margin: 0.25vh;
    font-size: calc(4px + (1.7vh+1.7vw)/2);
}

.controlUIImage {
    object-fit: contain;

    height: calc((20vh+20vw)/2);
    width: auto;

    margin: 5%;
}

/* styles for ui item (the top tab choices) */
.btn-uiItem {
    padding: 0;
    width: 3vw;
    height: 3vw;
    color: rgb(117, 117, 117);
    background-color: rgb(206, 181, 102);
    border: none;
    border-radius: 15%;
    min-width: 35px;
    min-height: 35px;
    max-width: 50px;
    max-height: 50px;
    filter: opacity(50%) blur(0.6px);
}

.btn-uiItem.active {
    color: rgb(0, 0, 0);
    background-color: rgb(197, 178, 113);
    border-radius: 15%;
    filter: none;
    transform: scale(1.1);
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-uiItem.disabled {
    filter: grayscale(60%);
    cursor: default;
}

.btn-uiItem.disabled.btn-uiItem.active {
    transform: none;
}

/* styles for click item */
.btn-clickItem {
    border: none;
    box-shadow: none;
    padding: 0.2vh 0.6vh;
    min-width: 0;

}

.btn-clickItem:hover {
    filter: brightness(1.075);
    transform: scale(1.05);
}

.btn-clickItem:disabled {
    pointer-events: none;
    transform: none;
    filter: grayscale(60%);
}

.btn-clickItem[disabled] {
    pointer-events: none;
    transform: none;
    filter: grayscale(60%);
}

